body {
	background:#dedede;
}
.row {
	width:60%;
	margin:0 auto;
}
.collumn {
	float:left;
	width:33.3333%;
	text-align: center;
	padding-top: 20px;
}
.row:after {
	clear:both;
}
button {
	border:none;
	padding:20px 40px;
	background:#008000;
	color: #fff;
}

img {
	width:100px;
	display:inline-block;
}
button {
	font-size:18px;
}
p {
	font-size:90px;
}

#minutes {
	text-align: right;
}
#seconds {
	text-align: left;	
}


footer p {
	font-size: 20px;
	position:fixed;
	bottom:0;
	left:35%;
}
@media only screen and (max-width 900px) {

}