body {
	background:#dedede;
}
.row {
	width:60%;
	margin:0 auto;
}
.collumn {
	float:left;
	width:33.3333%;
	text-align: center;
	padding-top: 20px;
}
.row:after {
	clear:both;
}
button {
	border:none;
	padding:20px 40px;
	background:#008000;
	color: #fff;
}
/*#reset {
	background:red;
}*/
img {
	width:100px;
}
button {
	font-size:18px;
}
p {
	font-size:90px;
}

#minutes {
	text-align: right;
}
#seconds {
	text-align: left;	
}
